.btn {
    border: none;
    outline: none;
    height: 30px;
    padding: 4px 14px;
    border-radius: 15px;
    cursor: pointer;
}

.btn:disabled {
    color: #999999;
    cursor: not-allowed;
}

.btn i {
    font-size: 14px;
}

.btn-red {
    background-color: #ec4141;
    color: #fff;
}

.btn-red:hover {
    background-color: #cc3232;
}

.btn-white {
    border: 1px solid #d8d8d8;
    background-color: #fff;
    color: #373737;
}

.btn-white:hover {
    background-color: #f2f2f2;
}

.btn:disabled:hover {
    background-color: #fff;
}

/* 没有边框的按钮 */
.no-btn {
    outline: 0;
    border: 0;
    background-color: #ffffff;
    color: #676767;
    cursor: pointer;
}

.no-btn:hover {
    color: #373737;
}

/* 圆角btn */
.circle-btn {
    display: block;
    height: 30px;
    padding: 0 16px;
    outline: 0;
    border: 1px solid #e7aa5a;
    color: #e7aa5a;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 15px;
}


@media screen and (max-width:415px) {
    .btn-text {
        display: none;
    }
}