/* 收藏的专辑和歌手公共样式 */
.sub-img {
    height: 60px;
    width: 60px;
    border-radius: 4px;
}

.sub-title {
    flex: 1;
}

.sub-author {
    width: 180px;
    color: #c3c3c4;
}

.sub-num {
    width: 160px;
    text-align: center;
    color: #c3c3c4;
}
